<nav id="column-left">
	<div class="user-panel">
		<div class="image">
			<img src="{{ image }}" alt="{{ firstname }} {{ lastname }}" title="{{ username }}" class="rounded-circle"/>
		</div>
		<div class="info">
			<a href="{{ profile }}">{{ firstname }} {{ lastname }}</a></br>
			<span>{{ user_group }}</span>
		</div>
	</div>
	<ul id="menu">
		{% set i = 0 %}
		{% for menu in menus %}
			<li id="{{ menu.id }}">
				{% if menu.href %}
					<a href="{{ menu.href }}"><i class="{{ menu.icon }}"></i> {{ menu.name }}</a>
				{% else %}

					<a href="#collapse-{{ i }}" data-bs-toggle="collapse" class="parent collapsed" data-bs-target="#collapse-{{ i }}" aria-expanded="false" aria-controls="#collapse-{{ i }}}"><i class="{{ menu.icon }}"></i> {{ menu.name }}</a>
				{% endif %}
				{% if menu.children %}
					<ul id="collapse-{{ i }}" class="collapse" data-bs-parent="#menu">
						{% set j = 0 %}
						{% for children_1 in menu.children %}
							<li>{% if children_1.href %}
									<a href="{{ children_1.href }}">{{ children_1.name }}</a>
								{% else %}
									<a href="#collapse-{{ i }}-{{ j }}" data-bs-toggle="collapse" class="parent collapsed">{{ children_1.name }}</a>
								{% endif %}
								{% if children_1.children %}
									<ul id="collapse-{{ i }}-{{ j }}" class="collapse">
										{% set k = 0 %}
										{% for children_2 in children_1.children %}
											<li>{% if children_2.href %}
													<a href="{{ children_2.href }}">{{ children_2.name }}</a>
												{% else %}
													<a href="#collapse-{{ i }}-{{ j }}-{{ k }}" data-bs-toggle="collapse" class="parent collapsed">{{ children_2.name }}</a>
												{% endif %}
												{% if children_2.children %}
													<ul id="collapse-{{ i }}-{{ j }}-{{ k }}" class="collapse">
														{% for children_3 in children_2.children %}
															<li><a href="{{ children_3.href }}">{{ children_3.name }}</a></li>
														{% endfor %}
													</ul>
												{% endif %}</li>
											{% set k = k + 1 %}
										{% endfor %}
									</ul>
								{% endif %}
							</li>
							{% set j = j + 1 %}
						{% endfor %}
					</ul>
				{% endif %}
			</li>
			{% set i = i + 1 %}
		{% endfor %}
	</ul>
</nav>
