{{ header }}
<div id="content">
  <div class="container-fluid">
    <br/>
    <br/>
    <div class="row justify-content-sm-center">
      <div class="col-sm-10 col-md-8 col-lg-5">
        <div id="login" class="card card-primary">
          <div class="logo card-header text-center">
						<img src="view/image/logo.svg" alt="{{ heading_title }}" title="{{ heading_title }}"/></a>      
					</div>
          <div class="card-body">
            <div class="row justify-content-center">{{ text_login }}<br/><br/></div>
            <form id="form-login" action="{{ login }}" method="post" data-oc-toggle="ajax">
              {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> {{ error_warning }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
              {% endif %}
              {% if success %}
                <div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> {{ success }} <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
              {% endif %}
              <div class="mb-3">
                <div class="input-group">
                  <input type="text" name="username" value="" placeholder="{{ entry_username }}" id="input-username" class="form-control"/>
                  <div class="input-group-text"><i class="fa-solid fa-user"></i></div>
                </div>
              </div>
              <div class="mb-3">
                <div class="input-group mb-2">
                  <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                  <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                </div>
                {% if forgotten %}
                <div class="mb-3"><a href="{{ forgotten }}">{{ text_forgotten }}</a></div>
                {% endif %}
              </div>
              <div class="text-end">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-key"></i> {{ button_login }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
