{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card card-danger">
      <div class="card-header"><i class="fa-solid fa-triangle-exclamation"></i> {{ heading_title }}</div>
      <div class="card-body">
        <p class="text-center">{{ text_permission }}</p>
      </div>
    </div>
  </div>
</div>
{{ footer }}