{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-body" id='calendar'>
      </div>
    </div>
  </div>
</div>
<div id="modal-event" class="modal modal-lg show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger"><i class="far fa-calendar-check"></i> <span id="evet-title">Takvime Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
			<div class="modal-body">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">Genel</a></li>
					<li class="nav-item d-none" id="rule"><a href="#tab-rule" data-bs-toggle="tab" class="nav-link">Tekrar</a></li>
					<li class="nav-item"><a href="#tab-guest" data-bs-toggle="tab" class="nav-link">Davetliler</a></li>
					<li class="nav-item"><a href="#tab-attach" data-bs-toggle="tab" class="nav-link">Ekler</a></li>
					<li class="nav-item"><a href="#tab-related" data-bs-toggle="tab" class="nav-link">Bağlantılar</a></li>
				</ul>
				<div class="tab-content">
					<div id="tab-general" class="tab-pane active">
						<div class="row mb-2">
							<label for="title" class="col-sm-2 col-form-label">Başlık</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="title">
							</div>
						</div>
						<div class="row mb-2">
							<label for="description" class="col-sm-2 col-form-label">Açıklama</label>
							<div class="col-sm-10">
								<textarea class="form-control" id="description" rows="5"></textarea>
							</div>
						</div>
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Kategori</legend>
							<div class="col-lg-3 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<select class="form-select">
									<option value=""></option>
									<option value="never">Tahsilat</option>
									<option value="daily">Ödeme</option>
									<option value="new_rule">Mütabakat</option>
									<option value="yearly">Toplantı</option>
									<option value="weekly">Telefon Görüşmesi</option>
									<option value="monthly">Müşteri Zİyareti</option>
									<option value="yearly">Görüşme</option>
									<option value="yearly">E-posta</option>
									<option value="yearly">Sunum</option>
									<option value="yearly">Belge</option>
									<option value="yearly">Kargo</option>
									<option value="yearly">İzin</option>
								</select>
							</div>
						</div>
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Kayıt Türü</legend>
							<div class="col-lg-3 col-sm-6">
								<input type="radio" class="btn-check" name="data_type" id="data-type-event" checked>
								<label class="btn btn-outline-primary" for="data-type-event"><i class="far fa-calendar-check"></i> Etkinlik</label>
								<input type="radio" class="btn-check" name="data_type" id="data-type-task">
								<label class="btn btn-outline-primary" for="data-type-task"><i class="far fa-circle-check"></i> Görev</label>
							</div>
							<div class="col-lg-3 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<select class="form-select" id="freq">
									<option value="never">Tekrarlanmaz</option>
									<option value="daily">Her Gün</option>
									<option value="weekly">Her Hafta</option>
									<option value="monthly">Her Ay</option>
									<option value="yearly">Her Yıl</option>
									<option value="new_rule">Özel Tekrar</option>
								</select>
							</div>
						</div>
						<div class="row mb-2">
							<label for="date-start" class="col-sm-2 col-form-label">Başlangıç</label>
							<div class="col-lg-3 col-sm-6">
								<input type="date" class="form-control" id="date-start">
							</div>
							<div class="col-lg-2 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<input type="time" class="form-control" id="time-start" disabled>
							</div>
						</div>
						<div class="row mb-2" id="date-time-end">
							<label for="date-end" class="col-sm-2 col-form-label">Bitiş</label>
							<div class="col-lg-3 col-sm-6">
								<input type="date" class="form-control" id="date-end">
							</div>
							<div class="col-lg-2 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<input type="time" class="form-control" id="time-end" disabled>
							</div>
						</div>
						<div class="row mb-2">
							<label for="all-day" class="col-sm-2 col-form-label">Tüm Gün</label>
							<div class="col-lg-3 col-sm-4">
								<div class="form-check form-switch form-switch-lg">
									<input type="hidden" value="0"/>
									<input type="checkbox" value="1" id="all-day" class="form-check-input" checked/>
								</div>
							</div>
						</div>
					</div>
					<div id="tab-rule" class="tab-pane">
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Tekrar Aralığı</legend>
							<div class="col-lg-2 col-sm-3">
								<input type="number" value="1" min="1" class="form-control">
							</div>
							<div class="col-lg-2 col-sm-3 mt-2 mt-lg-0 mt-sm-0">
								<select class="form-select" id="rule-cycle">
									<option value="daily">Gün</option>
									<option value="weekly">Hafta</option>
									<option value="monthly">Ay</option>
									<option value="yearly">Yıl</option>
								</select>
							</div>
						</div>
						<div class="row mb-2 d-none" id="week-days">
							<div class="col-sm-10 offset-sm-2">
								<input type="checkbox" class="btn-check" id="btn-d1" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d1">Pt</label>
								<input type="checkbox" class="btn-check" id="btn-d2" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d2">Sl</label>
								<input type="checkbox" class="btn-check" id="btn-d3" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d3">Çr</label>
								<input type="checkbox" class="btn-check" id="btn-d4" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d4">Pr</label>
								<input type="checkbox" class="btn-check" id="btn-d5" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d5">Cu</label>
								<input type="checkbox" class="btn-check" id="btn-d6" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d6">Ct</label>
								<input type="checkbox" class="btn-check" id="btn-d7" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d7">Pz</label>
							</div>
						</div>
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Bitiş</legend>
							<div class="col-lg-4 col-sm-6 mt-2 mt-lg-0 mt-sm-0">
								<select class="form-select" id="rule-finish">
									<option value="never">Hiçbir zaman</option>
									<option value="finish_date">Şu tarihte</option>
									<option value="cycle">Tekrar Sayısı</option>
								</select>
							</div>
							<div class="col-lg-3 col-sm-4 mt-2 mt-lg-0 mt-sm-0 d-none" id="date-finish">
								<input type="date" class="form-control">
							</div>
							<div class="col-lg-2 col-sm-3 mt-2 mt-lg-0 mt-sm-0 d-none" id="cycle-number">
								<input type="number" value="1" min="1" class="form-control">
							</div>
						</div>
					</div>
					<div id="tab-guest" class="tab-pane">
						<div class="row mb-2">
							<label for="input-user" class="col-sm-2 col-form-label">Kullanıcı Ekle</label>
							<div class="col-sm-10">
								<input type="text" name="user" value="" placeholder="{{ entry_user }}" id="input-user" data-oc-target="autocomplete-user" class="form-control" autocomplete="off"/>
								<ul id="autocomplete-user" class="dropdown-menu"></ul>
								<div class="input-group">
									<div class="form-control p-0" style="height: 115px; overflow: auto;">
										<table id="guest-user" class="table m-0">
											<tbody>
												{% for guest_user in guest_users %}
													<tr id="guest-user-{{ guest_user.user_id }}">
														<td>{{ guest_user.name }}<input type="hidden" name="guest_user[]" value="{{ guest_user.user_id }}"/></td>
														<td class="text-end"><button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="form-text">{{ help_add_user }}autocomplete</div>
							</div>
						</div>
						<div class="row mb-2">
							<label for="input-user-group" class="col-sm-2 col-form-label">Grup Ekle</label>
							<div class="col-sm-10">
								<input type="text" name="user_group" value="" placeholder="{{ entry_user_group }}" id="input-user-group" data-oc-target="autocomplete-user-group" class="form-control" autocomplete="off"/>
								<ul id="autocomplete-user-group" class="dropdown-menu"></ul>
								<div class="input-group">
									<div class="form-control p-0" style="height: 115px; overflow: auto;">
										<table id="guest-user-group" class="table m-0">
											<tbody>
												{% for guest_user_group in guest_user_groups %}
													<tr id="guest-user-group-{{ guest_user_group.group_id }}">
														<td>{{ guest_user_group.name }}<input type="hidden" name="guest_user_group[]" value="{{ guest_user_group.group_id }}"/></td>
														<td class="text-end"><button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="form-text">{{ help_add_user_group }}autocomplete</div>
							</div>
						</div>
					</div>
					<div id="tab-attach" class="tab-pane">
						<div class="row mb-2">
							<div class="col-sm-12">
								<div class="table-responsive">
									<table id="upload" class="table table-hover">
										<tbody>
											{% set upload_row = 0 %}
											{% for upload in uploads %}
												<tr id="upload-row-{{ upload_row }}">
													<td class="text-start col-sm-10" colspan="2">
														<div class="input-group">
															<button type="button" data-oc-toggle="upload" data-oc-url="{{ upload }}" id="button-upload-{{ upload_row }}" data-oc-target="#input-upload-{{ upload_row }}" data-oc-target-name="#input-upload-file-{{ upload_row }}" data-oc-size-max="{{ config_file_max_size }}" data-oc-size-error="{{ error_upload_size }}" class="btn btn-primary"><i class="fa-solid fa-upload"></i> {{ button_upload }}</button>
															<input type="hidden" name="upload[{{ upload_row }}]" value="" id="input-upload-{{ upload_row }}"/>
															<input type="text" value="" id="input-upload-file-{{ upload_row }}" class="form-control"/>
															<button type="button" data-oc-toggle="download" data-oc-target="#input-upload-{{ upload_row }}"{% if not upload[upload_row] %} disabled{% endif %} class="btn btn-outline-secondary"><i class="fa-solid fa-download"></i> {{ button_download }}</button>
															<button type="button" data-oc-toggle="clear" data-bs-toggle="tooltip" title="{{ button_clear }}" data-oc-target="#input-upload-{{ upload_row }}"{% if not upload[upload_row] %} disabled{% endif %} class="btn btn-outline-danger"><i class="fa-solid fa-eraser"></i></button>
														</div>
													</td>
												</tr>
												{% set upload_row = upload_row + 1 %}
											{% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<td><div class="form-text">{{ help_upload }} yükleme yazısı</div></td>
												<td class="text-end"><button type="button" id="button-upload-row" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button></td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div id="tab-related" class="tab-pane">
						<div class="row mb-2">
							<legend for="cari" class="col-sm-2 col-form-label">Cari</legend>
							<div class="col-sm-7"></div>
						</div>
						<div class="row mb-2">
							<legend for="urun" class="col-sm-2 col-form-label">Ürün</legend>
							<div class="col-sm-7"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
        <div class="text-end">
					<button type="button" id="button-save" class="btn btn-primary"><i class="fas fa-floppy-disk"></i> {{ button_save }}</button>
				</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
document.addEventListener('DOMContentLoaded', function() {
	var calendarEl = document.getElementById('calendar');

	var calendar = new FullCalendar.Calendar(calendarEl, {
		locale: '{{ code }}',
		themeSystem: 'bootstrap5',
		{% if open_hours|length > 0 %} 
		businessHours: [
		{% for open_hour in open_hours %}
			{
			daysOfWeek: [{% for day in open_hour.days %}{% if day|length > 0 %}{{ loop.index }},{% endif %}{% endfor %}],
			startTime: '{{ open_hour.open }}', 
			endTime: '{{ open_hour.close }}'
			},
		{% endfor %}
		],
		{% endif %}
		eventTimeFormat: {
			hour: '2-digit',
			minute: '2-digit'
		},
		nowIndicator : true,
		navLinks : true,
		headerToolbar: {
			left: 'prev,next today',
			center: 'title',
			right: 'dayGridMonth,dayGridWeek,timeGridDay,listMonth'
		},
		initialView: '{{ config_calendar_view }}',
		editable: true,
		selectable: true,
		dayMaxEvents: true, // allow "more" link when too many events
		selectMirror: true,
		select: function(arg) {
			
			$('#modal-event #date-start').val(moment(arg.startStr).format('YYYY-MM-DD'));
			$('#modal-event #date-end').val(moment(arg.endStr).format('YYYY-MM-DD'));
			$('#modal-event #time-start').val(moment(arg.startStr).format('HH:mm'));
			$('#modal-event #time-end').val(moment(arg.endStr).format('HH:mm'));

			$('#modal-event').modal('show');
			
			//console.log(arg)
			/*var title = prompt('Event Title:');
			if (title) {
				calendar.addEvent({
					title: title,
					start: arg.start,
					end: arg.end,
					allDay: arg.allDay
				})
			}
			*/
			calendar.unselect()

		},
		eventClick: function(arg) {
			console.log(arg)
			$('#modal-event #evet-title').html(arg.event._def.title);
			$('#modal-event #evet-description').html(arg.event._def.extendedProps.description);
			$('#modal-event').modal('show');

			$('#modal-event #date-start').val(moment(arg.event._def.startStr).format('YYYY-MM-DD'));
			$('#modal-event #date-end').val(moment(arg.event._def.endStr).format('YYYY-MM-DD'));
			$('#modal-event #time-start').val(moment(arg.event._def.startStr).format('HH:mm'));
			$('#modal-event #time-end').val(moment(arg.event._def.endStr).format('HH:mm'));				
			/*

			$('#modal-event #event-url').attr('href',arg.url);
			if (confirm('Are you sure you want to delete this event?')) {
				arg.event.remove()
			}*/
		},
		eventClassNames: function(arg) {
			return arg.event.extendedProps.icon
		},
		events: [
			{% if public_holidays|length > 0 %}
			{% for public_holiday in public_holidays %}
			{title: '{{ public_holiday.name }}',rrule: {dtstart: '{{ public_holiday.date }}',freq: 'yearly',},icon: 'flag',display: 'background',backgroundColor	: '#ff9f89'},
			{% endfor %}
			{% endif %}
			{% if religious_holiday_qurban %}
			{title: '{{ qurban.title }}',rrule: {dtstart: '{{ qurban.start_date }}',freq: 'daily',count: '4'},icon: 'cow',display: 'background',backgroundColor	: '#ff9f89'},
			{% endif %}
			{% if religious_holiday_ramadan %}
			{title: '{{ ramadan.title }}',rrule: {dtstart: '{{ ramadan.start_date }}',freq: 'daily',count: '3'},icon: 'moon',display: 'background',backgroundColor	: '#ff9f89'},
			{% endif %}
			


			
			
			{
				title: 'Günlük Tekrarlı Etkinlik',
				description: 'description günlük tekrar açıklması',
				rrule: {
					dtstart: '2024-07-18T20:00:00',
					//dtstart: '2024-07-01',
					interval: 10, //atlama
					count: 20,
					freq: 'daily'
				},
				classNames: 'classekle',
				color: 'yellow',
				textColor: 'red',
				backgroundColor	: 'orange'
			},
			{
				title: 'Yıllık Tekrarlı Etkinlik',
				description: 'Yasel Girgin doğum günü',
				rrule: {
					dtstart: '1979-07-28',
					freq: 'yearly'
				},
				icon: 'cake-candle',
				color: 'purple',
			},
			{
				title: 'Zaman Aralıklı etkinlik',
				start: '2024-07-17T15:30:00',
				end: '2024-07-18T09:30:00',
				icon: 'envelope',
			},
			/*
			{
				title: 'Haftalık Tekrarlı Etkinlik aa',
				rrule: {
					freq: 'weekly',
					interval: 2, //atlama
					byweekday: [ 'mo', 'fr' ],
					dtstart: '2024-07-15T18:00:00',
					until: '2025-08-01' // will also accept '20120201'
				},
				color: 'green',
				backgroundColor: 'green',
			},
			{
				title: 'Aylık Tekrarlı Etkinlik',
				rrule: {
					//dtstart: '2024-07-15T13:00:00',
					dtstart: '2024-07-15',
					count: 3,
					freq: 'monthly'
				},
				color : 'green',
			},
			{
				title: 'Tam gün etkinlik',
				start: '2024-07-18',
				color: 'navy',
				icon: 'envelope',
			},
			{
				title: 'deneme',
				start: '2024-07-16T10:00:00',
				end: '2024-07-16T11:00:00',
				color : 'green',
			},
			{
				title: '3 günlük etkinlik',
				start: '2024-07-16',
				end: '2024-07-19'
			},
			{
				title: 'rrule tekrar',
				rrule: {
					freq: 'weekly',
					dtstart: '2024-06-01'
				},
				exdate: ['2025-02-01'] // will also accept a single string
			},			
			{
				groupId: 'blueEvents', // recurrent events in this group move together
				title: 'Perşembe Tekrar',
				daysOfWeek: [ '4' ]
			},
			{
				title: 'Çarşamba Tekrar',
				daysOfWeek: [ '3' ], // these recurrent events move separately
				startTime: '11:00:00',
				endTime: '11:30:00',
				color: 'red'
			},
			
			{
				title: 'Long Event',
				start: '2024-07-07',
				end: '2024-07-10'
			},
			{
				groupId: 999,
				title: 'Repeating Event',
				start: '2024-07-15T16:01:00'
			},
			{
				groupId: 999,
				title: 'Repeating Event',
				start: '2024-07-17T16:01:00'
			},
			{
				title: 'Conference',
				start: '2024-07-11',
				end: '2024-07-13'
			},
			{
				title: 'Meeting',
				start: '2024-07-12T10:30:00',
				end: '2024-07-12T12:30:00'
			},
			{
				title: 'Lunch',
				start: '2024-07-12T12:00:00'
			},
			{
				title: 'Meeting',
				start: '2024-07-12T14:30:00'
			},
			{
				title: 'Happy Hour',
				start: '2024-07-12T17:30:00'
			},
			{
				title: 'Dinner',
				start: '2024-07-12T20:00:00'
			},
			{
				title: 'Birthday Party',
				start: '2024-07-13T07:00:00'
			},
			{
				title: 'Click for Google',
				url: 'http://google.com/',
				start: '2024-07-28'
			}
			*/
		],
	});

	calendar.render();
});

</script>
<script type="text/javascript"><!--

$('#all-day').on('click', function() {
	if (this.checked) {
    $('#time-start').attr('disabled', true);
    $('#time-start').val('00:00');
    $('#time-end').attr('disabled', true);
    $('#time-end').val('00:00');
  } else {
    $('#time-start').removeAttr('disabled');
    $('#time-end').removeAttr('disabled');
	}
});

$('#data-type-task').on('click', function() {
	if (this.checked) {
    $('#date-time-end').addClass('d-none');
  } else {
		$('#date-time-end').removeClass('d-none');		
	}
});

$('#data-type-event').on('click', function() {
	if (this.checked) {
    $('#date-time-end').removeClass('d-none');
  } else {
    $('#date-time-end').addClass('d-none');
	}
});

$('#freq').on('change', function() {
	if ($(this).find(":checked").val() == 'new_rule') {
    $('#rule').removeClass('d-none');
	 	$('[href="#tab-rule"]').tab('show');
  } else {
    $('#rule').addClass('d-none');
	}
});



$('#rule-finish').on('change', function() {
	if ($(this).find(":checked").val() == 'never') {
		$('#date-finish').addClass('d-none');
		$('#cycle-number').addClass('d-none');
	} else if ($(this).find(":checked").val() == 'finish_date') {
		$('#date-finish').removeClass('d-none');
		$('#cycle-number').addClass('d-none');
	} else if ($(this).find(":checked").val() == 'cycle') {
		 $('#date-finish').addClass('d-none');
		$('#cycle-number').removeClass('d-none');
	}
});


$('#rule-cycle').on('change', function() {
	if ($(this).find(":checked").val() == 'weekly') {
    $('#week-days').removeClass('d-none');
  } else {
    $('#week-days').addClass('d-none');
	}
});
  


// Users
$('#input-user').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=user/user.autocomplete&user_token={{ user_token }}&filter_status=1&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item['name'],
                        value: item['user_id']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('#input-user').val('');

        $('#guest-user-' + item['value']).remove();

        html = '<tr id="guest-user-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="guest_user[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#guest-user tbody').append(html);
    }
});

$('#guest-user').on('click', '.btn', function() {
    $(this).parent().parent().remove();
});

// User Groups
$('#input-user-group').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=user/user_permission.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item['name'],
                        value: item['user_group_id']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('#input-user-group').val('');

        $('#guest-user-group-' + item['value']).remove();

        html = '<tr id="guest-user-group-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="guest_user_group[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#guest-user-group tbody').append(html);
    }
});

$('#guest-user-group').on('click', '.btn', function() {
    $(this).parent().parent().remove();
});

var upload_row = {{ upload_row }};

$('#button-upload-row').on('click', function() {

    html = '<tr id="upload-row-' + upload_row + '">';
    html += '	<td class="text-start col-sm-10" colspan="2">';
    html += '		<div class="input-group">';
    html += '			<button type="button" data-oc-toggle="upload" data-oc-url="{{ upload }}" id="button-upload-' + upload_row + '" data-oc-target="#input-upload-' + upload_row + '" data-oc-target-name="#input-upload-file-' + upload_row + '" data-oc-size-max="{{ config_file_max_size }}" data-oc-size-error="{{ error_upload_size }}" class="btn btn-primary"><i class="fa-solid fa-upload"></i> {{ button_upload }}</button>';
    html += '			<input type="hidden" name="upload[' + upload_row + ']" value="" id="input-upload-' + upload_row + '"/>';
    html += '			<input type="text" value="" id="input-upload-file-' + upload_row + '" class="form-control"/>';
    html += '			<button type="button" data-oc-toggle="download" data-oc-target="#input-upload-' + upload_row + '" disabled class="btn btn-outline-secondary"><i class="fa-solid fa-download"></i> {{ button_download }}</button>';
    html += '			<button type="button" data-oc-toggle="clear" data-bs-toggle="tooltip" title="{{ button_clear }}" data-oc-target="#input-upload-' + upload_row + '" disabled class="btn btn-outline-danger"><i class="fa-solid fa-eraser"></i></button>';
    html += ' 	</div>';
    html += '	</td>';
    html += '</tr>';

$('#upload tbody').append(html);

    upload_row++;
});
</script>
<style>
.cake-candle .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f1fd";
	padding: 0 5px 0 2px;
}
.envelope .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f0e0";
	padding: 0 5px 0 2px;
}
.cow .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f6c8";
	padding: 0 5px 0 2px;
}
.moon .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f186";
	padding: 0 5px 0 2px;
}
.flag .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f2b4";
	padding: 0 5px 0 2px;
}

</style>

{{ footer }}