{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-body" id='calendar'>
      </div>
    </div>
  </div>
</div>
<div id="modal-event" class="modal modal-lg show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger"><i class="far fa-calendar-check"></i> <span id="evet-title">Takvime Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
			<div class="modal-body">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">Genel</a></li>
					<li class="nav-item d-none" id="rule"><a href="#tab-rule" data-bs-toggle="tab" class="nav-link">Tekrar</a></li>
					<li class="nav-item"><a href="#tab-guest" data-bs-toggle="tab" class="nav-link">Davetliler</a></li>
					<li class="nav-item"><a href="#tab-attach" data-bs-toggle="tab" class="nav-link">Ekler</a></li>
					<li class="nav-item"><a href="#tab-related" data-bs-toggle="tab" class="nav-link">Bağlantılar</a></li>
				</ul>
				<div class="tab-content">
					<div id="tab-general" class="tab-pane active">
						<div class="row mb-2">
							<label for="title" class="col-sm-2 col-form-label">Başlık</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="title">
							</div>
						</div>
						<div class="row mb-2">
							<label for="description" class="col-sm-2 col-form-label">Açıklama</label>
							<div class="col-sm-10">
								<textarea class="form-control" id="description" rows="5"></textarea>
							</div>
						</div>
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Kayıt Türü</legend>
							<div class="col-lg-3 col-sm-6">
								<input type="radio" class="btn-check" name="data_type" id="data_type_event" checked>
								<label class="btn btn-outline-primary" for="data_type_event"><i class="far fa-calendar-check"></i> Etkinlik</label>
								<input type="radio" class="btn-check" name="data_type" id="data_type_task">
								<label class="btn btn-outline-primary" for="data_type_task"><i class="far fa-circle-check"></i> Görev</label>
							</div>
							<div class="col-lg-3 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<select class="form-select" id="freq">
									<option value="never">Tekrarlanmaz</option>
									<option value="daily">Her Gün</option>
									<option value="weekly">Her Hafta</option>
									<option value="monthly">Her Ay</option>
									<option value="yearly">Her Yıl</option>
									<option value="new_rule">Özel Tekrar</option>
								</select>
							</div>
						</div>
						<div class="row mb-2">
							<label for="date_start" class="col-sm-2 col-form-label">Başlangıç</label>
							<div class="col-lg-3 col-sm-6">
								<input type="date" class="form-control" id="date_start">
							</div>
							<div class="col-lg-2 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<input type="time" class="form-control" id="time_start" disabled>
							</div>
						</div>
						<div class="row mb-2" id="date_time_end">
							<label for="date_end" class="col-sm-2 col-form-label">Bitiş</label>
							<div class="col-lg-3 col-sm-6">
								<input type="date" class="form-control" id="date_end">
							</div>
							<div class="col-lg-2 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<input type="time" class="form-control" id="time_end" disabled>
							</div>
						</div>
						<div class="row mb-2">
							<label for="all_day" class="col-sm-2 col-form-label">Tüm Gün</label>
							<div class="col-lg-3 col-sm-4">
								<div class="form-check form-switch form-switch-lg">
									<input type="hidden" value="0"/>
									<input type="checkbox" value="1" id="all_day" class="form-check-input" checked/>
								</div>
							</div>
						</div>
						<div class="row mb-2">
							<label for="all_day" class="col-sm-2 col-form-label">İlgililer</label>
							<div class="col-lg-3 col-sm-4">
								 Davetli, Dosya, Cari, Ürün
							</div>
						</div>
					</div>
					<div id="tab-rule" class="tab-pane">
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Tekrar Aralığı</legend>
							<div class="col-lg-2 col-sm-3">
								<input type="number" value="1" min="1" class="form-control">
							</div>
							<div class="col-lg-2 col-sm-3 mt-2 mt-lg-0 mt-sm-0">
								<select class="form-select" id="rule_cycle">
									<option value="daily">Gün</option>
									<option value="weekly">Hafta</option>
									<option value="monthly">Ay</option>
									<option value="yearly">Yıl</option>
								</select>
							</div>
						</div>
						<div class="row mb-2 d-none" id="week_days">
							<div class="col-sm-10 offset-sm-2">
								<input type="checkbox" class="btn-check" id="btn-d1" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d1">Pt</label>
								<input type="checkbox" class="btn-check" id="btn-d2" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d2">Sl</label>
								<input type="checkbox" class="btn-check" id="btn-d3" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d3">Çr</label>
								<input type="checkbox" class="btn-check" id="btn-d4" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d4">Pr</label>
								<input type="checkbox" class="btn-check" id="btn-d5" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d5">Cu</label>
								<input type="checkbox" class="btn-check" id="btn-d6" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d6">Ct</label>
								<input type="checkbox" class="btn-check" id="btn-d7" autocomplete="off">
								<label class="btn btn-outline-primary" for="btn-d7">Pz</label>
							</div>
						</div>

						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Bitiş</legend>
							<div class="col-sm-10">
								<input type="radio" class="btn-check" name="rule_finish" id="never" checked>
								<label class="btn btn-outline-primary" for="never"><i class="fas fa-infinity"></i> Hiçbir zaman</label>
								<input type="radio" class="btn-check" name="rule_finish" id="finish">
								<label class="btn btn-outline-primary" for="finish"><i class="far fa-calendar-check"></i> Şu tarihte</label>
								<input type="radio" class="btn-check" name="rule_finish" id="cycle">
								<label class="btn btn-outline-primary" for="cycle"><i class="fas fa-arrow-up-9-1"></i> Tekrar Sayısı</label>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-lg-3 col-sm-6 offset-sm-2 d-none" id="date_finish">
								<input type="date" class="form-control">
							</div>
							<div class="col-lg-2 col-sm-3 offset-sm-2 d-none" id="cycle_number">
								<input type="number" value="1" min="1" class="form-control">
							</div>
						</div>
					</div>
					<div id="tab-guest" class="tab-pane">
						<div class="row mb-2">
							<label for="add_guest" class="col-sm-2 col-form-label">Davetli Ekle</label>
							<div class="col-sm-7 ">
								<select class="form-select" id="add_guest">
									<option> </option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>
					</div>
					<div id="tab-attach" class="tab-pane">
						<div class="row mb-2">
							<label for="attach" class="col-sm-2 col-form-label">Dosya Ekle</label>
							<div class="col-sm-7">
									<input class="form-control d-none" type="file" id="attach">
									<button type="button" id="button-upload" class="btn btn-primary"><i class="fa-solid fa-upload"></i> Dosya Seç</button>
							</div>
						</div>
					</div>
					<div id="tab-related" class="tab-pane">
						<div class="row mb-2">
							<label for="attach" class="col-sm-2 col-form-label">Cari</label>
							<div class="col-sm-7">
						</div>
						<div class="row mb-2">
							<label for="attach" class="col-sm-2 col-form-label">Ürün</label>
							<div class="col-sm-7">
						</div>
					</div>
				</div>
				<div class="text-end">
					<button type="button" id="button-install" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i> {{ button_delete }}</button>
				</div>
			</div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
document.addEventListener('DOMContentLoaded', function() {
	var calendarEl = document.getElementById('calendar');

	var calendar = new FullCalendar.Calendar(calendarEl, {
		locale: '{{ code }}',
		themeSystem: 'bootstrap5',
		{% if open_hours|length > 0 %} 
		businessHours: [
		{% for open_hour in open_hours %}
			{
			daysOfWeek: [{% for day in open_hour.days %}{% if day|length > 0 %}{{ loop.index }},{% endif %}{% endfor %}],
			startTime: '{{ open_hour.open }}', 
			endTime: '{{ open_hour.close }}'
			},
		{% endfor %}
		],
		{% endif %}
		eventTimeFormat: {
			hour: '2-digit',
			minute: '2-digit'
		},
		nowIndicator : true,
		navLinks : true,
		headerToolbar: {
			left: 'prev,next today',
			center: 'title',
			right: 'dayGridMonth,dayGridWeek,timeGridDay,listMonth'
		},
		initialView: '{{ config_calendar_view }}',
		editable: true,
		selectable: true,
		dayMaxEvents: true, // allow "more" link when too many events
		selectMirror: true,
		select: function(arg) {
			
			$('#modal-event #date_start').val(moment(arg.startStr).format('YYYY-MM-DD'));
			$('#modal-event #date_end').val(moment(arg.endStr).format('YYYY-MM-DD'));
			$('#modal-event #time_start').val(moment(arg.startStr).format('HH:mm'));
			$('#modal-event #time_end').val(moment(arg.endStr).format('HH:mm'));

			$('#modal-event').modal('show');
			
			console.log(arg)
			/*var title = prompt('Event Title:');
			if (title) {
				calendar.addEvent({
					title: title,
					start: arg.start,
					end: arg.end,
					allDay: arg.allDay
				})
			}
			*/
			calendar.unselect()

		},
		eventClick: function(arg) {
			console.log(arg)
			$('#modal-event #evet-title').html(arg.event._def.title);
			$('#modal-event #evet-description').html(arg.event._def.extendedProps.description);
			$('#modal-event').modal('show');

			$('#modal-event #date_start').val(moment(arg.event._def.startStr).format('YYYY-MM-DD'));
			$('#modal-event #date_end').val(moment(arg.event._def.endStr).format('YYYY-MM-DD'));
			$('#modal-event #time_start').val(moment(arg.event._def.startStr).format('HH:mm'));
			$('#modal-event #time_end').val(moment(arg.event._def.endStr).format('HH:mm'));				
			/*

			$('#modal-event #event-url').attr('href',arg.url);
			if (confirm('Are you sure you want to delete this event?')) {
				arg.event.remove()
			}*/
		},
		eventClassNames: function(arg) {
			return arg.event.extendedProps.icon
		},
		events: [
			{% if public_holidays|length > 0 %}
			{% for public_holiday in public_holidays %}
			{title: '{{ public_holiday.name }}',rrule: {dtstart: '{{ public_holiday.date }}',freq: 'yearly',},icon: 'flag',display: 'background',backgroundColor	: '#ff9f89'},
			{% endfor %}
			{% endif %}
			{% if religious_holiday_qurban %}
			{title: '{{ qurban.title }}',rrule: {dtstart: '{{ qurban.start_date }}',freq: 'daily',count: '4'},icon: 'cow',display: 'background',backgroundColor	: '#ff9f89'},
			{% endif %}
			{% if religious_holiday_ramadan %}
			{title: '{{ ramadan.title }}',rrule: {dtstart: '{{ ramadan.start_date }}',freq: 'daily',count: '3'},icon: 'moon',display: 'background',backgroundColor	: '#ff9f89'},
			{% endif %}
			


			
			
			{
				title: 'Günlük Tekrarlı Etkinlik',
				description: 'description günlük tekrar açıklması',
				rrule: {
					dtstart: '2024-07-18T20:00:00',
					//dtstart: '2024-07-01',
					interval: 10, //atlama
					count: 20,
					freq: 'daily'
				},
				classNames: 'classekle',
				color: 'yellow',
				textColor: 'red',
				backgroundColor	: 'orange'
			},
			{
				title: 'Yıllık Tekrarlı Etkinlik',
				description: 'Yasel Girgin doğum günü',
				rrule: {
					dtstart: '1979-07-28',
					freq: 'yearly'
				},
				icon: 'cake-candle',
				color: 'purple',
			},
			{
				title: 'Zaman Aralıklı etkinlik',
				start: '2024-07-17T15:30:00',
				end: '2024-07-18T09:30:00',
				icon: 'envelope',
			},
			/*
			{
				title: 'Haftalık Tekrarlı Etkinlik aa',
				rrule: {
					freq: 'weekly',
					interval: 2, //atlama
					byweekday: [ 'mo', 'fr' ],
					dtstart: '2024-07-15T18:00:00',
					until: '2025-08-01' // will also accept '20120201'
				},
				color: 'green',
				backgroundColor: 'green',
			},
			{
				title: 'Aylık Tekrarlı Etkinlik',
				rrule: {
					//dtstart: '2024-07-15T13:00:00',
					dtstart: '2024-07-15',
					count: 3,
					freq: 'monthly'
				},
				color : 'green',
			},
			{
				title: 'Tam gün etkinlik',
				start: '2024-07-18',
				color: 'navy',
				icon: 'envelope',
			},
			{
				title: 'deneme',
				start: '2024-07-16T10:00:00',
				end: '2024-07-16T11:00:00',
				color : 'green',
			},
			{
				title: '3 günlük etkinlik',
				start: '2024-07-16',
				end: '2024-07-19'
			},
			{
				title: 'rrule tekrar',
				rrule: {
					freq: 'weekly',
					dtstart: '2024-06-01'
				},
				exdate: ['2025-02-01'] // will also accept a single string
			},			
			{
				groupId: 'blueEvents', // recurrent events in this group move together
				title: 'Perşembe Tekrar',
				daysOfWeek: [ '4' ]
			},
			{
				title: 'Çarşamba Tekrar',
				daysOfWeek: [ '3' ], // these recurrent events move separately
				startTime: '11:00:00',
				endTime: '11:30:00',
				color: 'red'
			},
			
			{
				title: 'Long Event',
				start: '2024-07-07',
				end: '2024-07-10'
			},
			{
				groupId: 999,
				title: 'Repeating Event',
				start: '2024-07-15T16:01:00'
			},
			{
				groupId: 999,
				title: 'Repeating Event',
				start: '2024-07-17T16:01:00'
			},
			{
				title: 'Conference',
				start: '2024-07-11',
				end: '2024-07-13'
			},
			{
				title: 'Meeting',
				start: '2024-07-12T10:30:00',
				end: '2024-07-12T12:30:00'
			},
			{
				title: 'Lunch',
				start: '2024-07-12T12:00:00'
			},
			{
				title: 'Meeting',
				start: '2024-07-12T14:30:00'
			},
			{
				title: 'Happy Hour',
				start: '2024-07-12T17:30:00'
			},
			{
				title: 'Dinner',
				start: '2024-07-12T20:00:00'
			},
			{
				title: 'Birthday Party',
				start: '2024-07-13T07:00:00'
			},
			{
				title: 'Click for Google',
				url: 'http://google.com/',
				start: '2024-07-28'
			}
			*/
		],
	});

	calendar.render();
});

</script>
<script type="text/javascript"><!--

$('#all_day').on('click', function() {
	if (this.checked) {
    $('#time_start').attr('disabled', true);
    $('#time_start').val('00:00');
    $('#time_end').attr('disabled', true);
    $('#time_end').val('00:00');
  } else {
    $('#time_start').removeAttr('disabled');
    $('#time_end').removeAttr('disabled');
	}
});

$('#data_type_task').on('click', function() {
	if (this.checked) {
    $('#date_time_end').addClass('d-none');
  } else {
		$('#date_time_end').removeClass('d-none');		
	}
});

$('#data_type_event').on('click', function() {
	if (this.checked) {
    $('#date_time_end').removeClass('d-none');
  } else {
    $('#date_time_end').addClass('d-none');
	}
});

$('#freq').on('change', function() {
	if ($(this).find(":checked").val() == 'new_rule') {
    $('#rule').removeClass('d-none');
	 	$('[href="#tab-rule"]').tab('show');
  } else {
    $('#rule').addClass('d-none');
	}
});

$('#never').on('click', function() {
	if (this.checked) {
    $('#date_finish').addClass('d-none');
		$('#cycle_number').addClass('d-none');		
  } 
});

$('#finish').on('click', function() {
	if (this.checked) {
    $('#date_finish').removeClass('d-none');
		$('#cycle_number').addClass('d-none');		
  } 
});

$('#cycle').on('click', function() {
	if (this.checked) {
    $('#date_finish').addClass('d-none');
		$('#cycle_number').removeClass('d-none');		
  } 
});

$('#rule_cycle').on('change', function() {
	if ($(this).find(":checked").val() == 'weekly') {
    $('#week_days').removeClass('d-none');
  } else {
    $('#week_days').addClass('d-none');
	}
});
  




</script>
<style>
.cake-candle .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f1fd";
	padding: 0 5px 0 2px;
}
.envelope .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f0e0";
	padding: 0 5px 0 2px;
}
.cow .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f6c8";
	padding: 0 5px 0 2px;
}
.moon .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f186";
	padding: 0 5px 0 2px;
}
.flag .fc-event-title:before {
  font-family: FontAwesome;  
	content: "\f2b4";
	padding: 0 5px 0 2px;
}

</style>

{{ footer }}