<div id="modal-event" class="modal modal-lg show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger"><i class="far fa-calendar-check"></i> <span id="evet-title">Takvime Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
			<div class="modal-body">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">Genel</a></li>
					<li class="nav-item"><a href="#tab-recurrence" data-bs-toggle="tab" class="nav-link">Tekrarlama</a></li>
					<li class="nav-item"><a href="#tab-participants" data-bs-toggle="tab" class="nav-link">Katılımıclar</a></li>
					<li class="nav-item"><a href="#tab-attach" data-bs-toggle="tab" class="nav-link">Ekler</a></li>
					<li class="nav-item"><a href="#tab-related" data-bs-toggle="tab" class="nav-link">Bağlantılar</a></li>
				</ul>
				<div class="tab-content">
					<div id="tab-general" class="tab-pane active">
						<div class="row mb-2">
							<label for="title" class="col-sm-2 col-form-label">Başlık</label>
							<div class="col-sm-10">
								<input type="text" name="title" class="form-control" id="title">
							</div>
						</div>
						<div class="row mb-2">
							<label for="description" class="col-sm-2 col-form-label">Açıklama</label>
							<div class="col-sm-10">
								<textarea name="description" class="form-control" id="description" rows="5"></textarea>
							</div>
						</div>
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Kategori</legend>
							<div class="col-lg-3 col-sm-6 mt-2 mt-lg-0 mt-sm-0">
								<select name="category" class="form-select">
									<option value=""></option>
									<option value="receipt">Tahsilat</option>
									<option value="payment">Ödeme</option>
									<option value="reconciliation">Mütabakat</option>
									<option value="meeting">Toplantı</option>
									<option value="call">Telefon Görüşmesi</option>
									<option value="visit">Müşteri Zİyareti</option>
									<option value="interview">Görüşme</option>
									<option value="email">E-posta</option>
									<option value="presentation">Sunum</option>
									<option value="document">Belge</option>
									<option value="cargo">Kargo</option>
									<option value="leave">İzin</option>
								</select>
							</div>
						</div>
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Kayıt Türü</legend>
							<div class="col-lg-3 col-sm-6">
								<input type="radio" name="data_type" class="btn-check" id="data-type-event" checked>
								<label class="btn btn-outline-primary" for="data-type-event"><i class="far fa-calendar-check"></i> Etkinlik</label>
								<input type="radio" name="data_type" class="btn-check" id="data-type-task">
								<label class="btn btn-outline-primary" for="data-type-task"><i class="far fa-circle-check"></i> Görev</label>
							</div>
							<div class="col-lg-3 col-sm-4 mt-2 mt-lg-0 mt-sm-0 pt-sm-2">
								<div class="form-check form-switch">
									<input type="hidden" value="0"/>
									<input class="form-check-input" type="checkbox" name="all_day" value="1" id="all-day" checked/>
									<label class="form-check-label" for="all-day">Tüm Gün</label>
								</div>
							</div>
						</div>
						<div class="row mb-2">
							<label for="date-start" class="col-sm-2 col-form-label">Başlangıç</label>
							<div class="col-lg-3 col-sm-6">
								<input type="date" name="date_start" class="form-control" id="date-start">
							</div>
							<div class="col-lg-2 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<input type="time" name="time_start" class="form-control" id="time-start" disabled>
							</div>
						</div>
						<div class="row mb-2" id="date-time-end">
							<label for="date-end" class="col-sm-2 col-form-label">Bitiş</label>
							<div class="col-lg-3 col-sm-6">
								<input type="date" name="date_end" class="form-control" id="date-end">
							</div>
							<div class="col-lg-2 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<input type="time" name="time_end" class="form-control" id="time-end" disabled>
							</div>
						</div>
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Hatırlatma</legend>
							<div class="col-lg-3 col-sm-6 mt-2 mt-lg-0 mt-sm-0">
								<select name="reminder" class="form-select">
									<option value="">Yok</option>
									<option value="mail">E-posta</option>
									<option value="sms">Sms</option>
								</select>
							</div>
						</div>
					</div>
					<div id="tab-recurrence" class="tab-pane">
						<div class="row mb-2">
							<legend class="col-sm-2 col-form-label">Tekrar</legend>
							<div class="col-lg-3 col-sm-4 mt-2 mt-lg-0 mt-sm-0">
								<select name="freq" class="form-select" id="freq">
									<option value="never">Yok</option>
									<option value="daily">Her Gün</option>
									<option value="weekly">Her Hafta</option>
									<option value="monthly">Her Ay</option>
									<option value="yearly">Her Yıl</option>
									<option value="new_recurrence">Özel Tekrar</option>
								</select>
							</div>
						</div>
						<div class="d-none" id="recurrence">
							<div class="row mb-2">
								<legend class="col-sm-2 col-form-label">Tekrar Aralığı</legend>
								<div class="col-lg-2 col-sm-3">
									<input type="number" name="recurrence_count" value="1" min="1" class="form-control">
								</div>
								<div class="col-lg-2 col-sm-3 mt-2 mt-lg-0 mt-sm-0">
									<select name="recurrence_cycle" class="form-select" id="recurrence-cycle">
										<option value="daily">Gün</option>
										<option value="weekly">Hafta</option>
										<option value="monthly">Ay</option>
										<option value="yearly">Yıl</option>
									</select>
								</div>
								<div class="col-lg-3 col-sm-4 mt-2 mt-lg-0 mt-sm-0 pt-sm-2">
									<div class="form-check form-switch d-none" id="month-days-each">
										<input type="hidden" value="0"/>
										<input class="form-check-input" type="checkbox" name="month_days_each_checkbox" value="1" id="month-days-each-checkbox" checked/>
										<label class="form-check-label" for="month-days-each-checkbox">Sabit</label>
									</div>
								</div>
							</div>
							<div class="row mb-2 d-none" id="week-days">
								<div class="col-sm-10 offset-sm-2">
									<input type="checkbox" name="week_day_1" class="btn-check" id="btn-wd1" autocomplete="off">
									<label class="btn btn-outline-primary" for="btn-wd1">Pt</label>
									<input type="checkbox" name="week_day_2" class="btn-check" id="btn-wd2" autocomplete="off">
									<label class="btn btn-outline-primary" for="btn-wd2">Sl</label>
									<input type="checkbox" name="week_day_3" class="btn-check" id="btn-wd3" autocomplete="off">
									<label class="btn btn-outline-primary" for="btn-wd3">Çr</label>
									<input type="checkbox" name="week_day_4" class="btn-check" id="btn-wd4" autocomplete="off">
									<label class="btn btn-outline-primary" for="btn-wd4">Pr</label>
									<input type="checkbox" name="week_day_5" class="btn-check" id="btn-wd5" autocomplete="off">
									<label class="btn btn-outline-primary" for="btn-wd5">Cu</label>
									<input type="checkbox" name="week_day_6" class="btn-check" id="btn-wd6" autocomplete="off">
									<label class="btn btn-outline-primary" for="btn-wd6">Ct</label>
									<input type="checkbox" name="week_day_7" class="btn-check" id="btn-wd7" autocomplete="off">
									<label class="btn btn-outline-primary" for="btn-wd7">Pz</label>
								</div>
							</div>
							<div class="row mb-2 d-none" id="months">
								<div class="col-sm-10 offset-sm-2">
									<input type="checkbox" name="month_1" class="btn-check" id="btn-m1" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m1">Ocak</label>
									<input type="checkbox" name="month_2" class="btn-check" id="btn-m2" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m2">Şubat</label>
									<input type="checkbox" name="month_3" class="btn-check" id="btn-m3" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m3">Mart</label>
									<input type="checkbox" name="month_4" class="btn-check" id="btn-m4" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m4">Nisan</label>
									<input type="checkbox" name="month_5" class="btn-check" id="btn-m5" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m5">Mayıs</label>
									<input type="checkbox" name="month_6" class="btn-check" id="btn-m6" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m6">Haziran</label>
									<input type="checkbox" name="month_7" class="btn-check" id="btn-m7" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m7">Temmuz</label>
									<input type="checkbox" name="month_8" class="btn-check" id="btn-m8" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m8">Ağustos</label>
									<input type="checkbox" name="month_9" class="btn-check" id="btn-m9" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m9">Eylül</label>
									<input type="checkbox" name="month_10" class="btn-check" id="btn-m10" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m10">Ekim</label>
									<input type="checkbox" name="month_11" class="btn-check" id="btn-m11" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m11">Kasım</label>
									<input type="checkbox" name="month_12" class="btn-check" id="btn-m12" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-m12">Aralık</label>
									
								</div>
							</div>
							<div class="row mb-2 d-none" id="days-each">
								<div class="col-sm-10 offset-sm-2">
									<input type="checkbox" name="month_day_1" class="btn-check" id="btn-md1" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md1">01</label>
									<input type="checkbox" name="month_day_2" class="btn-check" id="btn-md2" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md2">02</label>
									<input type="checkbox" name="month_day_3" class="btn-check" id="btn-md3" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md3">03</label>
									<input type="checkbox" name="month_day_4" class="btn-check" id="btn-md4" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md4">04</label>
									<input type="checkbox" name="month_day_5" class="btn-check" id="btn-md5" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md5">05</label>
									<input type="checkbox" name="month_day_6" class="btn-check" id="btn-md6" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md6">06</label>
									<input type="checkbox" name="month_day_7" class="btn-check" id="btn-md7" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md7">07</label>
									<input type="checkbox" name="month_day_8" class="btn-check" id="btn-md8" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md8">08</label>
									<input type="checkbox" name="month_day_9" class="btn-check" id="btn-md9" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md9">09</label>
									<input type="checkbox" name="month_day_10" class="btn-check" id="btn-md10" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md10">10</label>
									<input type="checkbox" name="month_day_11" class="btn-check" id="btn-md11" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md11">11</label>
									<input type="checkbox" name="month_day_12" class="btn-check" id="btn-md12" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md12">12</label>
									<input type="checkbox" name="month_day_13" class="btn-check" id="btn-md13" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md13">13</label>
									<input type="checkbox" name="month_day_14" class="btn-check" id="btn-md14" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md14">14</label>
									<input type="checkbox" name="month_day_15" class="btn-check" id="btn-md15" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md15">15</label>
									<input type="checkbox" name="month_day_16" class="btn-check" id="btn-md16" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md16">16</label>
									<input type="checkbox" name="month_day_17" class="btn-check" id="btn-md17" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md17">17</label>
									<input type="checkbox" name="month_day_18" class="btn-check" id="btn-md18" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md18">18</label>
									<input type="checkbox" name="month_day_19" class="btn-check" id="btn-md19" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md19">19</label>
									<input type="checkbox" name="month_day_20" class="btn-check" id="btn-md20" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md20">20</label>
									<input type="checkbox" name="month_day_21" class="btn-check" id="btn-md21" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md21">21</label>
									<input type="checkbox" name="month_day_22" class="btn-check" id="btn-md22" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md22">22</label>
									<input type="checkbox" name="month_day_23" class="btn-check" id="btn-md23" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md23">23</label>
									<input type="checkbox" name="month_day_24" class="btn-check" id="btn-md24" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md24">24</label>
									<input type="checkbox" name="month_day_25" class="btn-check" id="btn-md25" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md25">25</label>
									<input type="checkbox" name="month_day_26" class="btn-check" id="btn-md26" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md26">26</label>
									<input type="checkbox" name="month_day_27" class="btn-check" id="btn-md27" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md27">27</label>
									<input type="checkbox" name="month_day_28" class="btn-check" id="btn-md28" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md28">28</label>
									<input type="checkbox" name="month_day_29" class="btn-check" id="btn-md29" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md29">29</label>
									<input type="checkbox" name="month_day_30" class="btn-check" id="btn-md30" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md30">30</label>
									<input type="checkbox" name="month_day_31" class="btn-check" id="btn-md31" autocomplete="off">
									<label class="btn btn-outline-primary mb-1" for="btn-md31">31</label>
								</div>
							</div>
							<div class="row mb-2 d-none" id="days-every">
								<div class="col-lg-2 col-sm-3 offset-sm-2 mt-2 mt-lg-0 mt-sm-0">
									<select name="days_prefix" class="form-select">
										<option value="first">İlk</option>
										<option value="second">İkinci</option>
										<option value="third">Üçüncü</option>
										<option value="fourth">Dördüncü</option>
										<option value="last">Son</option>
									</select>
								</div>
								<div class="col-lg-2 col-sm-3 mt-2 mt-lg-0 mt-sm-0">
									<select name="days_name" class="form-select">
										<option value="1">Pazartesi</option>
										<option value="2">Salı</option>
										<option value="3">Çarşamba</option>
										<option value="4">Perşembe</option>
										<option value="5">Cuma</option>
										<option value="6">Cumartesi</option>
										<option value="7">Pazar</option>
									</select>
								</div>
							</div>
							<div class="row mb-2">
								<legend class="col-sm-2 col-form-label">Bitiş</legend>
								<div class="col-lg-4 col-sm-6 mt-2 mt-lg-0 mt-sm-0">
									<select name="recurrence_finish" class="form-select" id="recurrence-finish">
										<option value="never">Hiçbir zaman</option>
										<option value="date">Şu tarihte</option>
										<option value="cycle">Tekrar Sayısı</option>
									</select>
								</div>
								<div class="col-lg-3 col-sm-4 mt-2 mt-lg-0 mt-sm-0 d-none" id="recurrence-finish-date">
									<input type="date" name="recurrence_finish_date" class="form-control">
								</div>
								<div class="col-lg-2 col-sm-3 mt-2 mt-lg-0 mt-sm-0 d-none" id="recurrence-finish-cycle">
									<input type="number" name="recurrence_finish_cycle" value="1" min="1" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<div id="tab-participants" class="tab-pane">
						<div class="row mb-2">
							<label for="input-user" class="col-sm-2 col-form-label">Kullanıcı Ekle</label>
							<div class="col-sm-10">
								<input type="text" name="user" value="" placeholder="{{ entry_user }}" id="input-user" data-oc-target="autocomplete-user" class="form-control" autocomplete="off"/>
								<ul id="autocomplete-user" class="dropdown-menu"></ul>
								<div class="input-group">
									<div class="form-control p-0" style="height: 115px; overflow: auto;">
										<table id="participants-user" class="table m-0">
											<tbody>
												{% for participant_user in participant_users %}
													<tr id="participant-user-{{ participant_user.user_id }}">
														<td>{{ participant_user.name }}<input type="hidden" name="participant_user[]" value="{{ participant_user.user_id }}"/></td>
														<td class="text-end"><button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="form-text">{{ help_add_user }}autocomplete</div>
							</div>
						</div>
						<div class="row mb-2">
							<label for="input-user-group" class="col-sm-2 col-form-label">Grup Ekle</label>
							<div class="col-sm-10">
								<input type="text" name="user_group" value="" placeholder="{{ entry_user_group }}" id="input-user-group" data-oc-target="autocomplete-user-group" class="form-control" autocomplete="off"/>
								<ul id="autocomplete-user-group" class="dropdown-menu"></ul>
								<div class="input-group">
									<div class="form-control p-0" style="height: 115px; overflow: auto;">
										<table id="participants-user-group" class="table m-0">
											<tbody>
												{% for participant_user_group in participant_user_groups %}
													<tr id="participant-user-group-{{ participant_user_group.group_id }}">
														<td>{{ participant_user_group.name }}<input type="hidden" name="participant_user_group[]" value="{{ participant_user_group.group_id }}"/></td>
														<td class="text-end"><button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="form-text">{{ help_add_user_group }}autocomplete</div>
							</div>
						</div>
					</div>
					<div id="tab-attach" class="tab-pane">
						<div class="row mb-2">
							<div class="col-sm-12">
								<div class="table-responsive">
									<table id="upload" class="table table-hover">
										<tbody>
											{% set upload_row = 0 %}
											{% for upload in uploads %}
												<tr id="upload-row-{{ upload_row }}">
													<td class="text-start col-sm-10" colspan="2">
														<div class="input-group">
															<button type="button" data-oc-toggle="upload" data-oc-url="{{ upload }}" id="button-upload-{{ upload_row }}" data-oc-target="#input-upload-{{ upload_row }}" data-oc-target-name="#input-upload-file-{{ upload_row }}" data-oc-size-max="{{ config_file_max_size }}" data-oc-size-error="{{ error_upload_size }}" class="btn btn-primary"><i class="fa-solid fa-upload"></i> {{ button_upload }}</button>
															<input type="hidden" name="upload[{{ upload_row }}]" value="" id="input-upload-{{ upload_row }}"/>
															<input type="text" value="" id="input-upload-file-{{ upload_row }}" class="form-control"/>
															<button type="button" data-oc-toggle="download" data-oc-target="#input-upload-{{ upload_row }}"{% if not upload[upload_row] %} disabled{% endif %} class="btn btn-outline-secondary"><i class="fa-solid fa-download"></i> {{ button_download }}</button>
															<button type="button" data-oc-toggle="clear" data-bs-toggle="tooltip" title="{{ button_clear }}" data-oc-target="#input-upload-file-{{ upload_row }}"{% if not upload[upload_row] %} disabled{% endif %} class="btn btn-outline-danger"><i class="fa-solid fa-eraser"></i></button>
														</div>
													</td>
												</tr>
												{% set upload_row = upload_row + 1 %}
											{% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<td><div class="form-text">{{ help_upload }} yükleme yazısı</div></td>
												<td class="text-end"><button type="button" id="button-upload-row" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button></td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div id="tab-related" class="tab-pane">
						<div class="row mb-2">
							<legend for="cari" class="col-sm-2 col-form-label">Cari</legend>
							<div class="col-sm-7"></div>
						</div>
						<div class="row mb-2">
							<legend for="urun" class="col-sm-2 col-form-label">Ürün</legend>
							<div class="col-sm-7"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
        <div class="text-end">
					<button type="button" id="button-save" class="btn btn-primary"><i class="fas fa-floppy-disk"></i> {{ button_save }}</button>
				</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--

$('#all-day').on('click', function() {
	if (this.checked) {
    $('#time-start').attr('disabled', true);
    $('#time-start').val('00:00');
    $('#time-end').attr('disabled', true);
    $('#time-end').val('00:00');
  } else {
    $('#time-start').removeAttr('disabled');
    $('#time-end').removeAttr('disabled');
	}
});

$('#data-type-task').on('click', function() {
	if (this.checked) {
    $('#date-time-end').addClass('d-none');
  } else {
		$('#date-time-end').removeClass('d-none');		
	}
});

$('#data-type-event').on('click', function() {
	if (this.checked) {
    $('#date-time-end').removeClass('d-none');
  } else {
    $('#date-time-end').addClass('d-none');
	}
});

$('#freq').on('change', function() {
	if ($(this).find(":checked").val() == 'new_recurrence') {
    $('#recurrence').removeClass('d-none');
	 	$('[href="#tab-recurrence"]').tab('show');
  } else {
    $('#recurrence').addClass('d-none');
	}
});

$('#recurrence-finish').on('change', function() {
	if ($(this).find(":checked").val() == 'never') {
		$('#recurrence-finish-date').addClass('d-none');
		$('#recurrence-finish-cycle').addClass('d-none');
	} else if ($(this).find(":checked").val() == 'date') {
		$('#recurrence-finish-date').removeClass('d-none');
		$('#recurrence-finish-cycle').addClass('d-none');
	} else if ($(this).find(":checked").val() == 'cycle') {
		 $('#recurrence-finish-date').addClass('d-none');
		$('#recurrence-finish-cycle').removeClass('d-none');
	}
});

$('#recurrence-cycle').on('change', function() {
	if ($(this).find(":checked").val() == 'weekly') {
    $('#week-days').removeClass('d-none');
  } else {
    $('#week-days').addClass('d-none');
	}

	if ($(this).find(":checked").val() == 'monthly') {
    $('#days-each').removeClass('d-none');
		$('#days-every').addClass('d-none');
    $('#month-days-each').removeClass('d-none');
		$('#month-days-each-checkbox').prop('checked', true);
  } else {
    $('#days-each').addClass('d-none');
		$('#days-every').addClass('d-none');
		$('#month-days-each').addClass('d-none');		
	}
	
	if ($(this).find(":checked").val() == 'yearly') {
		$('#months').removeClass('d-none');
		$('#days-every').removeClass('d-none');
  } else {
		$('#days-every').addClass('d-none');
		$('#months').addClass('d-none');
	}
});

$('#month-days-each-checkbox').on('click', function() {
	if (this.checked) {
		$('#days-each').removeClass('d-none');
		$('#days-every').addClass('d-none');
  } else {
		 $('#days-each').addClass('d-none');
		 $('#days-every').removeClass('d-none');
	}
});



// Users
$('#input-user').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=user/user.autocomplete&user_token={{ user_token }}&filter_status=1&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item['name'],
                        value: item['user_id']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('#input-user').val('');

        $('#participant-user-' + item['value']).remove();

        html = '<tr id="participant-user-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="participant_user[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#participants-user tbody').append(html);
    }
});

$('#participants-user').on('click', '.btn', function() {
    $(this).parent().parent().remove();
});

// User Groups
$('#input-user-group').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=user/user_permission.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item['name'],
                        value: item['user_group_id']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('#input-user-group').val('');

        $('#participant-user-group-' + item['value']).remove();

        html = '<tr id="participant-user-group-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="participant_user_group[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#participants-user-group tbody').append(html);
    }
});

$('#participants-user-group').on('click', '.btn', function() {
    $(this).parent().parent().remove();
});

var upload_row = {{ upload_row }};

$('#button-upload-row').on('click', function() {

    html = '<tr id="upload-row-' + upload_row + '">';
    html += '	<td class="text-start col-sm-10" colspan="2">';
    html += '		<div class="input-group">';
    html += '			<button type="button" data-oc-toggle="upload" data-oc-url="{{ upload }}" id="button-upload-' + upload_row + '" data-oc-target="#input-upload-' + upload_row + '" data-oc-target-name="#input-upload-file-' + upload_row + '" data-oc-size-max="{{ config_file_max_size }}" data-oc-size-error="{{ error_upload_size }}" class="btn btn-primary"><i class="fa-solid fa-upload"></i> {{ button_upload }}</button>';
    html += '			<input type="hidden" name="upload[' + upload_row + ']" value="" id="input-upload-' + upload_row + '"/>';
    html += '			<input type="text" value="" id="input-upload-file-' + upload_row + '" class="form-control"/>';
    html += '			<button type="button" data-oc-toggle="download" data-oc-target="#input-upload-' + upload_row + '" disabled class="btn btn-outline-secondary"><i class="fa-solid fa-download"></i> {{ button_download }}</button>';
    html += '			<button type="button" data-oc-toggle="clear" data-bs-toggle="tooltip" title="{{ button_clear }}" data-oc-target="#input-upload-file-' + upload_row + '" disabled class="btn btn-outline-danger"><i class="fa-solid fa-eraser"></i></button>';
    html += ' 	</div>';
    html += '	</td>';
    html += '</tr>';

$('#upload tbody').append(html);

    upload_row++;
});
</script>